.divContainerModal{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.divIconModal{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  justify-items: center;
}

.imgIconModal{
  width: 60px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  top:-30px;
}
.divNoteModal{
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: auto;
  max-height: 150px;
}
*{
  font-size: 12px;
}
p{
  color: #2CAD96 !important;
  font-size: 14px;
  font-weight: bold;
}
.buttonClose{
  border-radius: 20px !important;
  border-color: grey !important;
  color: #2CAD96 !important;
}
.buttonClose:not(:disabled):not(.disabled):active{
  background-color: grey !important;;
  color: #ced4da !important;
}
.buttonClose:hover{
  background-color: grey !important;
  color: #ced4da !important;
}
.buttonClose:focus{
  box-shadow: 0 0 0 0.1rem grey !important;
  color: #ced4da !important;
}
.divModalOn{
  display: inherit;
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
}
.divModalOff{
  display: none;
}
.divButtonClose{
  padding-right: 20px;
  padding-bottom: 15px;
  padding-top: 10px;
  display:flex;
  align-content: flex-end;
  justify-content: flex-end
}

.labelModalInfo{
  font-weight: bold;
  padding-right: 4px;
}
.divLabelModalInfo{
  display: flex;
  align-content: center;
}
